@using CONTROL_TICKET_TAREA.Dtos.Respuestas
@using CONTROL_TICKET_TAREA.Dtos.Combos
@using System.Globalization

@model List<TbControlTicketTareaResponse>

@{
    var cultura = new CultureInfo("es-PE");

    string mensaje = "No hay fechas disponibles";
    string fecInicio = "";
    string fecFinal = "";

    if(ViewBag.FecInicio != null && ViewBag.FecFinal != null)
    {
        fecInicio = ((DateTime)ViewBag.FecInicio).ToString("dddd dd/MM/yyyy", cultura);
        fecFinal = ((DateTime)ViewBag.FecFinal).ToString("dddd dd/MM/yyyy", cultura);
        mensaje = "";
    }

    var fecCreacion = ((DateTime.Now)).ToString("dddd dd/MM/yyyy", cultura);

    var filtroTecnicos = ViewBag.filtroTecnicos as List<string> ?? new List<string>();
    var tecnicosForm = filtroTecnicos.Count == 0 ? "TODOS" : string.Join(", ", filtroTecnicos) + ".";
}

<div class="modal fade" id="reporteTareaModal" tabindex="-1" aria-labelledby="reporteTareaModalLabel">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content d-flex flex-column h-100">
            <header class="modal-header align-items-stretch row row-cols-auto">
                <div class="col d-flex flex-column gap-2">
                    <span id="reporteTareaModalLabel" class="modal-title fw-bold my-auto">REPORTE TAREAS</span>
                    <span class="h-sub my-auto">@(string.IsNullOrWhiteSpace(mensaje) ? (fecInicio == fecFinal ? $"{fecInicio.ToUpper()}" : $"{fecInicio.ToUpper()} - {fecFinal.ToUpper()}") : mensaje)</span>
                    <span class="h-sub my-auto">TÉCNICO(S): @($"{tecnicosForm}")</span>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <span class="h-sub my-auto">FEC. CREACIÓN: @($"{fecCreacion.ToUpper()}")</span>
                    <span class="h-sub my-auto">N° TAREAS ENCONTRADAS: @Model.Count</span>
                    <div class="d-flex gap-2">
                        <button id="btnExportarExcelTarea" type="button" class="btn btn-success h-sub">
                            Exportar Excel
                        </button>
                        <button id="btnExportarPdfTarea" type="button" class="btn btn-danger h-sub">
                            Exportar Pdf
                        </button>
                    </div>
                </div>
            </header>
            <div role="contentinfo" class="p-1 flex-grow-1 overflow-auto">
                <table id="tabla-tareas-reporte" class="table table-bordered table-striped tabla-ordenable table-hover w-100">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" style="width: 1%">N°</th>
                            <th scope="col" class="text-nowrap">GE</th>
                            <th scope="col" class="text-nowrap">EMP</th>
                            <th scope="col" class="text-nowrap">PRO</th>
                            <th scope="col" class="text-nowrap">SPRO</th>
                            <th scope="col" class="text-nowrap">FEC. REG.</th>
                            <th scope="col" class="text-nowrap">TÉCNICO</th>
                            <th scope="col" class="text-nowrap">CONTACTO</th>
                            <th scope="col">PRI</th>
                            <th scope="col">NIV</th>
                            <th scope="col" style="width: 1%;">ITEMS</th>
                            <th scope="col">SERIE</th>
                            <th scope="col">TIPO</th>
                            <th scope="col">ITEM</th>
                            <th scope="col" style="width: 20%">DESCRIPCIÓN</th>
                            <th scope="col">TICKET</th>
                            <th scope="col">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Count != 0)
                        {
                            foreach(var tarea in Model)
                            {
                                <tr>
                                    <td>@tarea.IdTarea</td>
                                    <td>@tarea.SiglaGE</td>
                                    <td>@tarea.SiglaEmpresa</td>
                                    <td class="text-nowrap">@tarea.SiglaProyecto</td>
                                    <td class="text-nowrap">@tarea.SiglaSubProyecto</td>
                                    <td class="text-nowrap">@($"{tarea.FecReg:dd-MM-yyyy}")</td>
                                    <td class="text-nowrap">@tarea.Receptor</td>
                                    <td class="text-nowrap">@tarea.Contacto</td>
                                    <td class="fw-bold @(
                                        tarea.IdPrioridad switch
                                        {
                                            1064 => "bg-success text-white",
                                            1065 => "bg-warning",
                                            1066 => "bg-danger text-white",    
                                            _ => ""           
                                        })">
                                        @tarea.Prioridad
                                    </td>
                                    @{
                                        var claseNivel = $"row-nivel nivel-{tarea.IdNivel} fw-bold";
                                    }
                                    <td class="@claseNivel">@tarea.Nivel</td>
                                    <td>@tarea.CantidadItems</td>
                                    <td>@tarea.NSerie</td>
                                    <td>@tarea.Tipo</td>
                                    <td>@tarea.IdItemCenterDesc</td>
                                    <td>@tarea.Descripcion</td>
                                    <td class="text-nowrap">
                                        @if (string.IsNullOrWhiteSpace(tarea.CodTicket))
                                        {
                                            <span class="text-muted fst-italic">Sin asignar</span>
                                        } else
                                        {
                                            @tarea.CodTicket
                                        }
                                    </td>
                                    <td class="text-nowrap">@tarea.Estado</td>
                                </tr>            
                            }
                        } else
                        {
                            <tr>
                                <td colspan="18" class="text-center text-muted">No se encontraron resultados.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </footer>
        </div>
    </div>
</div>