@using CONTROL_TICKET_TAREA.Dtos.Peticiones
@model TbControlTicketTareaRequest

@{
    var colorClass = Model.IdTarea == 0 ? "bg-success" : "bg-info";
}

<div class="modal fade" id="guardarTareaModal" tabindex="-1" aria-labelledby="guardarTareaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header @colorClass text-white">
                <h5 class="modal-title" id="guardarTareaModalLabel">Panel de Registro</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </header>
            <div class="modal-body">
                <form id="formGuardarTarea" asp-action="Guardar" method="POST" class="row g-3">
                    <input id="txtIdTarea" type="hidden" asp-for="@Model.IdTarea" />
                    <input asp-for="@Model.PeticionId" type="hidden" name="peticionId" />

                    <div class="col-md-4">
                        <label for="txtGE" class="form-label">Grupo Económico</label>
                        <input asp-for="@Model.Ge" type="text" class="form-control text-uppercase" id="txtGE" autocomplete="off" placeholder="Buscar grupo económico..." />
                        <input asp-for="@Model.IdGe" type="hidden" id="IdGE" name="IdGE" />
                        <div id="suggestions-GE" class="list-group position-absolute z-3"></div>
                        <span asp-validation-for="@Model.IdGe" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-4">
                        <label for="cboEntidad" class="form-label">Entidad / Empresa</label>
                        <select asp-for="@Model.IdEmpresa" class="form-select" id="cboEntidad" asp-items="@ViewBag.Empresas">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdEmpresa" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-4">
                        <label for="txtResponsable" class="form-label">Responsable</label>
                        <input asp-for="@Model.Receptor" type="text" class="form-control text-uppercase" id="txtResponsable" autocomplete="off" placeholder="Buscar responsable..." />
                        <input asp-for="@Model.IdReceptor" type="hidden" id="IdReceptor" name="IdReceptor" />
                        <div id="suggestions-receptor" class="list-group position-absolute z-3"></div>
                        <span asp-validation-for="@Model.IdReceptor" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-4">
                        <label for="txtContacto" class="form-label">Nombre de Contacto</label>
                        <input asp-for="@Model.Contacto" type="text" class="form-control text-uppercase" id="txtContacto">
                        <span asp-validation-for="@Model.Contacto" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="txtDni" class="form-label">DNI</label>
                        <input asp-for="@Model.Dni" type="text" class="form-control" id="txtDni">
                        <span asp-validation-for="@Model.Dni" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="txtWhatsApp" class="form-label">Teléfono</label>
                        <input asp-for="@Model.Whatsapp" type="text" class="form-control text-uppercase" id="txtWhatsApp">
                        <span asp-validation-for="@Model.Whatsapp" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-4">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input asp-for="@Model.Correo" type="text" class="form-control text-uppercase" id="txtCorreo">
                        <span asp-validation-for="@Model.Correo" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-5">
                        <label for="txtItem" class="form-label">Item</label>
                        <input asp-for="@Model.ItemCenter" type="text" class="form-control text-uppercase" id="txtItem" autocomplete="off" placeholder="Buscar item..." />
                        <input asp-for="@Model.IdItemCenter" type="hidden" id="IdItemCenter" name="IdItemCenter" />
                        <div id="suggestions-item" class="list-group position-absolute z-3"></div>
                        <span asp-validation-for="@Model.IdItemCenter" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-4">
                        <label for="txtNuevoItem" class="form-label">Nuevo Item</label>
                        <input id="txtNuevoItem" disabled="@(Model.IdItemCenter != 0)" value="@(Model.IdItemCenter != 0 ? "" : Model.IdItemCenterDesc)" asp-for="@Model.IdItemCenterDesc" type="text" class="form-control text-uppercase">
                        <span asp-validation-for="@Model.IdItemCenterDesc" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="txtNSerie" class="form-label text-uppercase">N° Serie</label>
                        <input asp-for="@Model.NSerie" type="text" class="form-control text-uppercase" id="txtNSerie">
                        <span asp-validation-for="@Model.NSerie" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-1">
                        <label for="txtCantItems" class="form-label">Cant. Items</label>
                        <input asp-for="@Model.CantidadItems" type="number" class="form-control" id="txtCantItems" placeholder="0">
                        <span asp-validation-for="@Model.CantidadItems" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="cboMedio" class="form-label">Medio</label>
                        <select asp-for="@Model.IdMedio" class="form-select" id="cboMedio" asp-items="@ViewBag.Medios">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdMedio" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="cboTipo" class="form-label">Tipo</label>
                        <select asp-for="@Model.IdTipo" class="form-select" id="cboTipo" asp-items="@ViewBag.Tipos">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdTipo" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="cboPrioridad" class="form-label">Prioridad</label>
                        <select asp-for="@Model.IdPrioridad" class="form-select" id="cboPrioridad" asp-items="@ViewBag.Prioridades">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdPrioridad" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="cboNivel" class="form-label">Nivel</label>
                        <select asp-for="@Model.IdNivel" class="form-select" id="cboNivel" asp-items="@ViewBag.Niveles">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdNivel" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="txtCodTicket" class="form-label">Cod. Ticket</label>
                        <input asp-for="@Model.CodTicket" type="text" class="form-control text-uppercase" id="txtCodTicket" placeholder="COD. TICKET">
                        <span asp-validation-for="@Model.CodTicket" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="cboEstado" class="form-label">Estado</label>
                        <select asp-for="@Model.IdEstado" class="form-select" id="cboEstado" asp-items="@ViewBag.Estados">
                            <option selected value="0">-SELECCIONAR-</option>
                        </select>
                        <span asp-validation-for="@Model.IdEstado" class="text-danger pb-2"></span>
                    </div>

                    <div class="col-12">
                        <div class="d-flex flex-column gap-2">
                            <label for="txtTarea" class="form-label">Descripción Tarea</label>
                            <div class="d-flex gap-2">
                                <textarea asp-for="@Model.Descripcion" class="form-control text-uppercase" id="txtTarea" rows="8"></textarea>
                                <div class="d-flex flex-column justify-content-end gap-2">
                                    <button id="btnGuardar" type="submit" class="btn @colorClass text-white px-4 align-self-center d-flex align-items-center gap-1">
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                        @(Model.IdTarea == 0 ? "Crear" : "Editar")
                                    </button>
                                    <button type="button" class="btn btn-secondary px-4 align-self-center" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <span asp-validation-for="@Model.Descripcion" class="text-danger pb-2"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>