@using CONTROL_TICKET_TAREA.Dtos.Respuestas
@model List<TbControlTicketTareaResponse>

@{
    ViewData["Title"] = "TAREAS";
    var prioridadesSeleccionadas = ViewBag.FiltroPrioridad as List<int> ?? new List<int>();
    var nivelesSeleccionadas = ViewBag.FiltroNivel as List<int> ?? new List<int>();
}

<div class="d-flex flex-column gap-2 p-3">
    <h1 class="h5">LISTADO DE TAREAS</h1>
    <form id="filtroForm" asp-action="Index" method="get">
        <div class="mb-2 h-sub">
            <div class="d-flex gap-4">
                <div class="d-flex gap-2">
                    <span class="m-auto">Prioridades: </span>
                    <div class="d-flex flex-wrap gap-2">
                    @if(ViewBag.Prioridades is SelectList prioridades)
                    {
                        @foreach (var item in prioridades)
                        {
                            var id = $"prioridad{item.Value}";
                            var estaSeleccionado = prioridadesSeleccionadas.Contains(int.Parse(item.Value));

                            var claseColorActivo = item.Value switch
                            {
                                "1066" => "btn-danger",   // Alta
                                "1065" => "btn-warning",  // Media
                                "1064" => "btn-success",  // Baja
                                _ => "btn-outline-secondary"
                            };

                            var clasesBtn = estaSeleccionado ? $"{claseColorActivo} active" : "btn-outline-secondary";

                            <input type="checkbox" name="prioridad" value="@item.Value" class="d-none" id="@id" @(estaSeleccionado ? "checked" : "") />
                            <button type="button"
                                    class="btn @clasesBtn"
                                    data-target="#@id">
                                @item.Text
                            </button>
                        }        
                    }
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <span class="m-auto">Niveles: </span>
                    <div class="d-flex flex-wrap gap-2">
                    @if(ViewBag.Niveles is SelectList niveles)
                    {
                        @foreach (var item in niveles)
                        {
                            var id = $"nivel{item.Value}";
                            var estaSeleccionado = nivelesSeleccionadas.Contains(int.Parse(item.Value));

                            var claseColor = estaSeleccionado
                                ? $"btn-nivel nivel-{item.Value}"
                                : "btn-nivel nivel-inactivo";

                            <input type="checkbox" name="nivel" value="@item.Value" class="d-none" id="@id" @(estaSeleccionado ? "checked" : "") />
                            <button type="button"
                                    class="btn h-sub @claseColor"
                                    data-target="#@id">
                                @item.Text
                            </button>
                        }          
                    }
                    </div>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-success" id="btnNuevaTarea">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        + Nueva Tarea
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!--
    <div class="d-none gap-2 mb-2" id="accionesSeleccionados">
        <button type="button" class="btn btn-dark" id="btnActualizarSeleccionados">Actualizar estados seleccionados</button>
        <button type="button" class="btn btn-danger" id="btnEliminarSeleccionados">Eliminar seleccionados</button>
    </div>
    -->
    <table id="tabla-tareas" class="table table-hover w-100">
        <thead>
            <tr>
                <th scope="col" style="width: 3%">GE</th>
                <th scope="col" style="width: 3%">EMPRESA</th>
                <th scope="col" class="d-none d-md-table-cell">FECHA REG.</th>
                <th scope="col">RECEPTOR</th>
                <th scope="col" class="d-none d-md-table-cell">MEDIO</th>
                <th scope="col" class="d-none d-lg-table-cell">CONTACTO</th>
                <th scope="col" class="d-none d-md-table-cell">PRIORIDAD</th>
                <th scope="col" class="d-none d-md-table-cell">NIVEL</th>
                <th scope="col">ITEMS</th>
                <th scope="col" class="d-none d-lg-table-cell">SERIE</th>
                <th scope="col" class="d-none d-lg-table-cell">TIPO</th>
                <th scope="col" style="width: 40%">DESCRIPCIÓN</th>
                <th scope="col" class="d-none d-md-table-cell">TICKET</th>
                <th scope="col">ESTADO</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr data-id="@item.IdTarea" draggable="true" style="cursor:pointer" class="fila-editable">
                        <input class="input-idTarea" value="@item.IdTarea" type="hidden"/>
                        <td>@item.GE</td>
                        <td>@item.Empresa</td>
                        <td class="d-none d-md-table-cell">@item.FecReg</td>
                        <td>@item.Receptor</td>
                        <td class="d-none d-md-table-cell">@item.Medio</td>
                        <td class="d-none d-lg-table-cell">@item.Contacto</td>
                        <td class="d-none d-md-table-cell fw-bold @(
                            item.IdPrioridad switch
                            {
                                1064 => "bg-success",
                                1065 => "bg-warning",
                                1066 => "bg-danger",    
                                _ => ""           
                            })">
                            @item.Prioridad
                        </td>
                        @{
                            var claseNivel = $"btn-nivel nivel-{item.IdNivel} fw-bold d-none d-md-table-cell";
                        }
                        <td class="@claseNivel">@item.Nivel</td>
                        <td>@item.CantidadItems</td>
                        <td class="d-none d-lg-table-cell">@item.NSerie</td>
                        <td class="d-none d-lg-table-cell">@item.Tipo</td>
                        <td>@item.Descripcion</td>
                        <td class="d-none d-md-table-cell">
                            @if (string.IsNullOrWhiteSpace(item.CodTicket))
                            {
                                <button id="btn-registrar-ticket-@item.IdTarea" class="d-flex align-items-center gap-1 btn btn-dark btn-registrar-ticket btn-sm">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    Crear
                                </button>
                            }
                            else
                            {
                                @item.CodTicket
                            }
                        </td>
                        <td>@item.Estado</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="14" class="text-center text-muted">No se encontraron resultados.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="guardarTareaModalContainer"></div>

@section Scripts{
    <script src="~/js/modal-tarea.js"></script>
    <script src="~/js/dragDrop.js"></script>
    <script src="~/js/selectedRows.js"></script>
    <script src="~/js/registrarTicket.js"></script>
    <script>
        // Cambio de estilos al seleccionar los botones que filtraras la lista
        document.querySelectorAll('button[data-target]').forEach(btn => {
            btn.addEventListener('click', function () {
                const checkbox = document.querySelector(this.dataset.target);
                checkbox.checked = !checkbox.checked;

                this.classList.toggle('active');
                this.classList.toggle('btn-primary');
                this.classList.toggle('btn-outline-primary');

                document.getElementById('filtroForm').submit();
            });
        });
    </script>
}