@using CONTROL_TICKET_TAREA.Dtos.Respuestas
@model List<TbControlTicketTareaResponse>

@{
    ViewData["Title"] = "TAREAS";
    var prioridadesSeleccionadas = ViewBag.FiltroPrioridad as List<int> ?? new List<int>();
    var nivelesSeleccionadas = ViewBag.FiltroNivel as List<int> ?? new List<int>();
    var prioridadIndSeleccionado = ViewBag.PrioridadInd as int?;
    var nivelIndSeleccionado = ViewBag.NivelInd as int?;
}

<div class="d-flex flex-column mt-2 p-1">
    <h1 class="h5">LISTADO DE TAREAS</h1>
    <form id="filtroForm" asp-action="Index" method="get">
        <div class="h-sub fw-bold p-2" style="background-color:#268DCF">
            <div class="d-flex justify-content-between gap-2 header-content">
                <section class="d-flex gap-2 header-content-section">
                    <div class="d-flex gap-2">
                        <div class="d-flex flex-column align-items-start text-white gap-2">
                            <p class="my-auto">Prioridades: </p>
                            <p class="my-auto">Niveles: </p>
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <div class="d-flex gap-2">
                                <div class="d-flex flex-wrap gap-2">
                                @if(ViewBag.Prioridades is SelectList prioridades)
                                {
                                    @foreach (var item in prioridades)
                                    {
                                        var id = $"prioridad{item.Value}";
                                        var estaSeleccionado = prioridadesSeleccionadas.Contains(int.Parse(item.Value));

                                        var claseColorActivo = item.Value switch
                                        {   
                                            "1066" => "btn-danger",   // Alta
                                            "1065" => "btn-warning",  // Media
                                            "1064" => "btn-success",  // Baja
                                            _ => ""
                                        };

                                        var clasesBtn = estaSeleccionado ? $"{claseColorActivo} active" : "btn-default nivel-inactivo";

                                        <input type="checkbox" name="prioridad" value="@item.Value" class="d-none" id="@id" @(estaSeleccionado ? "checked" : "") />
                                        <button type="button"
                                                class="btn fw-bold @clasesBtn"
                                                data-target="#@id">
                                            @item.Text
                                        </button>
                                    }        
                                }
                                </div>
                            </div>
                            <div class="d-flex gap-2">
                                <div class="d-flex flex-wrap gap-2">
                                @if(ViewBag.Niveles is SelectList niveles)
                                {
                                    @foreach (var item in niveles)
                                    {
                                        var id = $"nivel{item.Value}";
                                        var estaSeleccionado = nivelesSeleccionadas.Contains(int.Parse(item.Value));

                                        var claseColor = estaSeleccionado
                                            ? $"btn-default nivel-{item.Value}"
                                            : "btn-default nivel-inactivo";

                                        <input type="checkbox" name="nivel" value="@item.Value" class="d-none" id="@id" @(estaSeleccionado ? "checked" : "") />
                                        <button type="button"
                                                class="btn fw-bold @claseColor"
                                                data-target="#@id">
                                            @item.Text
                                        </button>
                                    }          
                                }
                                </div>
                            </div>
                        </div>         
                    </div>
                    <div class="d-flex gap-2">
                        <div class="d-flex flex-column align-items-start text-white gap-2">
                            <label for="txtFiltroReceptor" class="form-label my-auto">Responsable:</label>
                            <label for="cboFiltroEstado" class="form-label my-auto">Estado:</label>
                        </div>
                        <div class="d-flex flex-column gap-2">

                            @Html.ListBox("IdsReceptores", (SelectList)ViewBag.Receptores, new { id = "cboReceptor" })

                            <select class="form-select h-sub" id="cboFiltroEstado" asp-items="@ViewBag.Estados" name="IdEstado">
                                <option value="0">-SELECCIONAR-</option>
                            </select>
                        </div>
                    </div>
                </section>
                <section class="d-flex gap-2 justify-content-between">
                    <div class="d-flex gap-3 header-content-subsection">
                        <div class="d-flex gap-2">
                            <div class="d-flex flex-wrap gap-2">
                            @if(ViewBag.GrafPrioridades is List<GrupoCantidadResponse> grafPrioridades)
                            {
                                @foreach (var item in grafPrioridades)
                                {
                                    var estaSeleccionado = prioridadIndSeleccionado == item.Id;

                                    var claseColorActivo = item.Id switch
                                    {
                                        1066 => "btn-danger",   // Alta
                                        1065 => "btn-warning",  // Media
                                        1064 => "btn-success",  // Baja
                                        _ => ""
                                    };

                                    var clasesBtn = estaSeleccionado ? $"{claseColorActivo} active" : "btn-default nivel-inactivo";

                                    <input type="checkbox" name="prioridadInd" value="@item.Id" class="d-none" id="prioridadGrafico-@item.Id" @(estaSeleccionado ? "checked" : "") />
                                    <button type="button"
                                            class="btn fw-bold grafico @clasesBtn"
                                            data-target="prioridadGrafico-@item.Id">
                                        <div class="d-flex flex-column gap-1">
                                            <p class="m-auto">@item.Cantidad</p>
                                            <p class="m-auto">@item.Nombre</p>
                                        </div>
                                    </button>
                                }        
                            }
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <div class="d-flex flex-wrap gap-2">
                            @if(ViewBag.GrafNiveles is List<GrupoCantidadResponse> grafNiveles)
                            {
                                @foreach (var item in grafNiveles)
                                {
                                    var estaSeleccionado = nivelIndSeleccionado == item.Id;

                                    var claseColor = estaSeleccionado
                                        ? $"btn-default nivel-{item.Id}"
                                        : "btn-default nivel-inactivo";

                                    <input type="checkbox" name="nivelInd" value="@item.Id" class="d-none" id="nivelGrafico-@item.Id" @(estaSeleccionado ? "checked" : "") />
                                    <button type="button"
                                            class="btn fw-bold grafico @claseColor"
                                            data-target="nivelGrafico-@item.Id">
                                        <div class="d-flex flex-column gap-1">
                                            <p class="m-auto">@item.Cantidad</p>
                                            <p class="m-auto">@item.Nombre</p>
                                        </div>
                                    </button>
                                }          
                            }
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between flex-column gap-2">
                        <p class="text-end text-white">N° Resultados encontrados: @Model.Count</p>
                        <div class="d-flex gap-1">
                            <button type="button" class="btn btn-secondary d-flex justify-content-center align-items-center gap-1" id="btnReportar">
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                Reporte
                            </button>   
                            <button type="button" class="btn btn-success d-flex justify-content-center align-items-center gap-1" id="btnNuevaTarea">
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                + Nueva Tarea
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
    <table id="tabla-tareas" class="table table-striped tabla-ordenable table-hover w-100">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width: 2.5%">N°</th>
                <th scope="col" style="width: 2%">GE</th>
                <th scope="col" style="width: 2%">EMP</th>
                <th scope="col" class="d-none d-md-table-cell">FEC. REG.</th>
                <th scope="col">RECEPTOR</th>
                <th scope="col" class="d-none d-md-table-cell">MEDIO</th>
                <th scope="col" class="d-none d-lg-table-cell">CONTACTO</th>
                <th scope="col">PRI</th>
                <th scope="col">NIV</th>
                <th scope="col" class="d-none d-lg-table-cell" style="width: 1%;">ITEMS</th>
                <th scope="col" class="d-none d-lg-table-cell">SERIE</th>
                <th scope="col" class="d-none d-lg-table-cell">TIPO</th>
                <th scope="col" class="d-none d-lg-table-cell">ITEM</th>
                <th scope="col" class="d-none d-lg-table-cell" style="width: 20%">DESCRIPCIÓN</th>
                <th scope="col">TICKET</th>
                <th scope="col">ESTADO</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <input class="input-idTarea" value="@item.IdTarea" type="hidden"/>
                    <tr data-id="@item.IdTarea" draggable="false" style="cursor:pointer" class="fila-editable">
                        <td>@item.IdTarea</td>
                        <td>@item.SiglaGE</td>
                        <td>@item.SiglaEmpresa</td>
                        <td class="d-none d-md-table-cell">@($"{item.FecReg:dd-MM-yyyy}")</td>
                        <td>@item.Receptor</td>
                        <td class="d-none d-md-table-cell">@item.Medio</td>
                        <td class="d-none d-lg-table-cell">@item.Contacto</td>
                        <td class="fw-bold @(
                            item.IdPrioridad switch
                            {
                                1064 => "bg-success text-white",
                                1065 => "bg-warning",
                                1066 => "bg-danger text-white",    
                                _ => ""           
                            })">
                            @item.Prioridad
                        </td>
                        @{
                            var claseNivel = $"row-nivel nivel-{item.IdNivel} fw-bold";
                        }
                        <td class="@claseNivel">@item.Nivel</td>
                        <td class="d-none d-lg-table-cell">@item.CantidadItems</td>
                        <td class="d-none d-lg-table-cell">@item.NSerie</td>
                        <td class="d-none d-lg-table-cell">@item.Tipo</td>
                        <td class="d-none d-lg-table-cell">@item.IdItemCenterDesc</td>
                        <td class="d-none d-lg-table-cell">@item.Descripcion</td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(item.CodTicket))
                            {
                                <button id="btn-registrar-ticket-@item.IdTarea" style="background-color: #268DCF;" class="d-flex align-items-center gap-1 btn btn-registrar-ticket btn-sm z-inde">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    <span class="fw-bold text-white h-sub">Crear</span>
                                </button>
                            }
                            else
                            {
                                @item.CodTicket
                            }
                        </td>
                        <td>@item.Estado</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="16" class="text-center text-muted">No se encontraron resultados.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="guardarTareaModalContainer"></div>
    
<div id="reporteTareaModalContainer"></div>

@section Scripts{
    <script src="~/js/modal-tarea.js"></script>
    <!-- <script src="~/js/dragDrop.js"></script>-->
    <!--<script src="~/js/selectedRows.js"></script>-->
    <script src="~/js/utils/habilitarOrdenTabla.js"></script>
    <script src="~/js/OrdenadoAscDesc.js"></script>
    <script src="~/js/reporteTareas.js"></script>
    <script src="~/js/registrarTicket.js"></script>
    <script src="~/js/busquedaFormGuardar.js"></script>
    <script src="~/js/FiltradoForm.js"></script>
}