@using CONTROL_TICKET_TAREA.Dtos.Respuestas
@using CONTROL_TICKET_TAREA.Dtos.Combos
@model List<TbControlTicketTareaResponse>

    @{
        var receptores = ViewBag.Responsables as List<CboUsuario> ?? new List<CboUsuario>();
    }

<div class="modal fade" id="reporteTareaModal" tabindex="-1" aria-labelledby="reporteTareaModalLabel">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content d-flex flex-column h-100">
            <header class="modal-header" text-white>
                <p class="h5" id="reporteTareaModalLabel">@($"{ViewBag.FecInicio:dd-MM-yyyy} - {ViewBag.FecFinal:dd-MM-yyyy}")</p>
                <form id="formUsuarios" asp-action="GenerarReporte" method="GET" class="d-flex gap-2 align-items-center">
                    <span id="spinnerLoading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <select id="usuarios" name="idsResponsables" style="padding: 1rem;" multiple placeholder="Buscar receptores...">
                        @if (receptores.Count != 0)
                        {
                            foreach (var receptor in receptores)
                            {
                                <option value="@receptor.IdUsuario" selected>@receptor.Nombre</option>
                            }
                        }
                    </select>
                    <!-- <button id="btnBuscar" class="btn btn-dark">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <small>Buscar</small>
                    </button>-->
                </form>
            </header>
            <div role="contentinfo" class="p-1 flex-grow-1 overflow-auto">
                <table id="tabla-tareas" class="table table-striped table-hover w-100">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" style="width: 2.5%">N°</th>
                            <th scope="col" style="width: 2%">GE</th>
                            <th scope="col" style="width: 2%">EMPRESA</th>
                            <th scope="col" class="d-none d-md-table-cell">FECHA REG.</th>
                            <th scope="col">RECEPTOR</th>
                            <th scope="col" class="d-none d-md-table-cell">MEDIO</th>
                            <th scope="col" class="d-none d-lg-table-cell">CONTACTO</th>
                            <th scope="col">PRI</th>
                            <th scope="col">NIV</th>
                            <th scope="col" class="d-none d-lg-table-cell" style="width: 1%;">ITEMS</th>
                            <th scope="col" class="d-none d-lg-table-cell">SERIE</th>
                            <th scope="col" class="d-none d-lg-table-cell">TIPO</th>
                            <th scope="col" class="d-none d-lg-table-cell">ITEM</th>
                            <th scope="col" class="d-none d-lg-table-cell" style="width: 30%">DESCRIPCIÓN</th>
                            <th scope="col">TICKET</th>
                            <th scope="col">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Count != 0)
                        {
                            foreach(var tarea in Model)
                            {
                                <tr>
                                    <td>@tarea.IdTarea</td>
                                    <td>@tarea.SiglaGE</td>
                                    <td>@tarea.SiglaEmpresa</td>
                                    <td class="d-none d-md-table-cell">@($"{tarea.FecReg:dd-MM-yyyy}")</td>
                                    <td>@tarea.Receptor</td>
                                    <td class="d-none d-md-table-cell">@tarea.Medio</td>
                                    <td class="d-none d-lg-table-cell">@tarea.Contacto</td>
                                    <td class="fw-bold @(
                                        tarea.IdPrioridad switch
                                        {
                                            1064 => "bg-success text-white",
                                            1065 => "bg-warning",
                                            1066 => "bg-danger text-white",    
                                            _ => ""           
                                        })">
                                        @tarea.Prioridad
                                    </td>
                                    @{
                                        var claseNivel = $"row-nivel nivel-{tarea.IdNivel} fw-bold";
                                    }
                                    <td class="@claseNivel">@tarea.Nivel</td>
                                    <td class="d-none d-lg-table-cell">@tarea.CantidadItems</td>
                                    <td class="d-none d-lg-table-cell">@tarea.NSerie</td>
                                    <td class="d-none d-lg-table-cell">@tarea.Tipo</td>
                                    <td class="d-none d-lg-table-cell">@tarea.IdItemCenterDesc</td>
                                    <td class="d-none d-lg-table-cell">@tarea.Descripcion</td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(tarea.CodTicket))
                                        {
                                            <span class="text-muted fst-italic">Sin asignar</span>
                                        } else
                                        {
                                            @tarea.CodTicket
                                        }
                                    </td>
                                    <td>@tarea.Estado</td>
                                </tr>            
                            }
                        } else
                        {
                            <tr>
                                <td colspan="16" class="text-center text-muted">No se encontraron resultados.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </footer>
        </div>
    </div>
</div>